{% extends 'base.html' %}
{% load static bootstrap4 %}
{% block content_wrapper %}
    {% block body %}
        {% if messages %}
            <div>
                <strong>Notificación: </strong>
                <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    {% endblock %}
    {% block extra_body %}{% endblock %}
  </body>
{% endblock %}