{% load static bootstrap4 %}
<!DOCTYPE HTML>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Carpipedia</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "iconos/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "iconos/favicon-16x16.png" %}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
            <link rel="stylesheet" href="{% static "css/slicknav.css" %}">
            <link rel="stylesheet" href="{% static "css/flaticon.css" %}">
            <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
            <link rel="stylesheet" href="{% static "css/animate.min.css" %}">
            <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
            <link rel="stylesheet" href="{% static "css/fontawesome-all.min.css" %}">
            <link rel="stylesheet" href="{% static "css/themify-icons.css" %}">
            <link rel="stylesheet" href="{% static "css/slick.css" %}">
            <link rel="stylesheet" href="{% static "css/nice-select.css" %}">
            <link rel="stylesheet" href="{% static "css/style.css" %}">
            <link rel="stylesheet" href="{% static "css/carpipedia-style.css" %}">
            {% block extra_statics %}{% endblock %}
   </head>

   <body>
    {% comment %} <div id="preloader-active">
    <!-- Preloader Start -->
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/loder.jpg" alt="">
                </div>
            </div>
        </div>
    </div> 
    <!-- Preloader Start -->
    {% endcomment %}
    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                  <a href="/"><img src={% static 'imagenes/LogoCarpipedia.png' %} alt="logo not found" 
                                  style="width: 50%;"></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-8">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">                                                                                                                                     
                                            <li><a href="/">Inicio</a></li>
                                            <li><a href="#">Temas</a>
                                                <ul class="submenu">
                                                    <li><a href="">Cocina</a></li>
                                                    <li><a href="">Plomeria</a></li>
                                                    <li><a href="">Vehículos</a></li>
                                                    <li><a href="">Indumentaria</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/blog">Ayudá e informate</a></li>
                                            <li><a href="">Sobre nosotros</a></li>
                                            <li><a href="">Contactanos</a></li>
                                            {% if request.user.is_authenticated %}
                                                <li class="add-list">
                                                    <a href="/crear">
                                                    <i class="ti-plus"></i>
                                                    Agregar post
                                                    </a>
                                                </li>
                                                <li class="login f-right">
                                                    <a href="{% url 'usr-detail' request.user.pk %}">
                                                        {% if request.user.avatar %}
                                                            <img src="{% static 'imagenes/'|add:request.user.avatar.nombre_imagen %}" class="rounded-circle" width="30" height="30">
                                                        {% else %}
                                                            <img src="{% static 'imagenes/CarpinchoAnonimo.png'%}" class="rounded-circle" width="30" height="30">
                                                        {% endif %}
                                                        Mi humedal
                                                    </a>
                                                    <ul class="submenu">
                                                        <li><a href="{% url 'user_update'%}">Editar perfil</a></li>
                                                        <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                                                    </ul>
                                                </li>
                                            {% else %}
                                                <li class="login f-right"><a href="/accounts/login">
                                                    <i class="ti-user"></i> Conectate</a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
    <div class="container">
      {% block content_wrapper %}
      {% endblock %}
    </div>
    <footer>
      <!-- Footer Start-->
      <div class="footer-area">
          <div class="container">
             <div class="footer-top footer-padding">
                  <div class="row">
                      <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                          <div class="single-footer-caption mb-50">
                              <div class="footer-tittle">
                                  <h4>Quick Link</h4>
                                  <ul>
                                      <li><a href="/">Inicio</a></li>
                                      <li><a href="/blog">Ayudá e informate</a></li>
                                      <li><a href="#">Sobre nosotros</a></li>
                                      <li><a href="#">Contactanos</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                          <div class="single-footer-caption mb-50">
                              <div class="footer-tittle">
                                  <h4>Temas</h4>
                                  <ul>
                                      <li><a href="#">Cocina</a></li>
                                      <li><a href="#">Plomería</a></li>
                                      <li><a href="#">Vehículos</a></li>
                                      <li><a href="#">Indumentaria</a></li>     
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
             </div>
              <div class="footer-bottom">
                  <div class="row d-flex justify-content-between align-items-center">
                      <div class="col-xl-9 col-lg-8">
                          <div class="footer-copy-right">
                              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Este template está hecho con <i class="fa fa-heart" aria-hidden="true"></i> por <a target="_blank">Carpipedia</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-4">
                          <!-- Footer Social -->
                          <div class="footer-social f-right">
                              <a href="#"><i class="fab fa-facebook-f"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fas fa-globe"></i></a>
                              <a href="#"><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
             </div>
          </div>
      </div>
      <!-- Footer End-->
  </footer>
  <!-- Scroll Up -->
  <div id="back-top" >
      <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
  </div>


  <!-- JS here -->
  <!-- All JS Custom Plugins Link Here here -->
      {% block scripts %}
      <script src="{% static "js/vendor/modernizr-3.5.0.min.js" %}"></script>
  <!-- Jquery, Popper, Bootstrap -->
  <script src="{% static "js/vendor/jquery-1.12.4.min.js" %}"></script>
      <script src="{% static "js/popper.min.js" %}"></script>
      <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Jquery Mobile Menu -->
      <script src="{% static "js/jquery.slicknav.min.js" %}"></script>

  <!-- Jquery Slick , Owl-Carousel Plugins -->
      <script src="{% static "js/owl.carousel.min.js" %}"></script>
      <script src="{% static "js/slick.min.js" %}"></script>
  <!-- One Page, Animated-HeadLin -->
      <script src="{% static "js/wow.min.js" %}"></script>
  <script src="{% static "js/animated.headline.js" %}"></script>
      <script src="{% static "js/jquery.magnific-popup.js" %}"></script>

  <!-- Nice-select, sticky -->
      <script src="{% static "js/jquery.nice-select.min.js" %}"></script>
  <script src="{% static "js/jquery.sticky.js" %}"></script>
      
      <!-- contact js -->
      <script src="{% static "js/contact.js" %}"></script>
      <script src="{% static "js/jquery.form.js" %}"></script>
      <script src="{% static "js/jquery.validate.min.js" %}"></script>
      <script src="{% static "js/mail-script.js" %}"></script>
      <script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>
      
  <!-- Jquery Plugins, main Jquery -->	
      <script src="{% static "js/plugins.js" %}"></script>
      <script src="{% static "js/main.js" %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(event){
                $(document).on('click', '#like', function(event){
                    event.preventDefault();
                    var slug = $(this).attr('value');
                    $.ajax({
                        type: 'POST',
                        url: '{% url "like_post" %}',
                        data: {
                            'slug':slug,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        datatype: 'json',
                        success: function(response){
                            $('#like-section-' + slug).html(response['form'])
                        },
                        error: function(rs, e){
                            console.log(rs.responseText);
                        },
                    });
                });
                $(document).on('click', '#dislike', function(event){
                    event.preventDefault();
                    var slug = $(this).attr('value');
                    $.ajax({
                        type: 'POST',
                        url: '{% url "dislike_post" %}',
                        data: {
                            'slug':slug,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        datatype: 'json',
                        success: function(response){
                            $('#like-section-' + slug).html(response['form'])
                        },
                        error: function(rs, e){
                            console.log(rs.responseText);
                        },
                    });
                });
            });
        </script>
      {% endblock %}
      
  </body>
</html>